table,th,td{
    border:5px solid white;
    border-collapse:collapse;
    margin:0px;
    padding:5px;
    align-items: center;
    table-layout:initial;
    -o-table-baseline: initial;
    text-align: center;
}

th{
    color:red;
    background-color:rgb(146, 230, 230);
    padding-top: 0px;
    margin:0px;
    /* overflow: hidden; */
  }

  td{
    color:black;
    background-color:orange;
    padding-right:20px;
    padding-left:20px;
  }

  .table{
    padding-right:5px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* position: absolute;
 /*top: 10px;
 font-size: 28px;
 right: 30%;*/
 
  }
  

  .font{
    font-family: cursive;
    color: red;
    border:5px solid green;
    width:450px;
    display: inline-block;
    position: absolute;
    /*position: absolute;
    top: 10px;
    font-size: 28px;
    right: 30%;*/
    top:35px;
    left:35%;
  }

  *{
    background: -moz-linear-gradient(to bottom,black,white);
  }
  body{
    margin: 0%;
    padding: 0%;
    background:linear-gradient(to bottom,black,white);
  }

  .Image
  {
    width:100px;;
  }

  #gpn-logo{
    height: 100px;
  }

  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: black;
        /*margin-top: 50px;*/
        color: white;
        /*height: 50vh;*/
        position: absolute;
        bottom: 15px;
    }